<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Nena Basina">
    <meta name="description" content="Testing page for the SoCoLa Demo 7.3">
    <title>SoCoLa Demo</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="onLoad()">
    <section id="top">
        <h1>SoCoLa Demo 7.3</h1>
        <span id="interactionMsg"></span>
    </section>
    <section id="mainArea">
        <div id="upperPart">
            <div id="vision" class="filesDisplay">
                <h2>Vision:</h2>
                <object id="visionFileText" class="textFile"></object>
            </div>
            <div id="graphGenerator" class="filesDisplay">
                <h2>Graph Generator:</h2>
                <object id="graphGenFileText" class="textFile"></object>
            </div>
        </div>
        <div class="midArea_btns">
            <button id="captureObj"     class="btn">Capture Object</button>
            <button id="captureAction"  class="btn">Capture Action</button>
            <button id="hiddenAction"   class="btn">Do Hidden Action</button>
            <!-- <label class="toggleBtn">
                <input type="checkbox">
                <span class="slider">Hidden Action</span>
            </label> -->
            <button id="runClingo"      class="btn">Run Reasoner</button>
        </div>
        <div id="lowerPart">
            <div id="reasoner" class="filesDisplay">
                <h2>Reasoner:</h2>
                <object id="reasonerFileText" class="textFile"></object>
            </div>
            <div id="outerbotcontainer">
                <h2>SoCoLaBot</h2>
                <div class="botcontainer">
                    
                </div>
            </div>
        </div>
    </section>
    <!-- will not work if put into the head area -->
    <script src="/js/script.js"></script>
</body>
</html>